<app-icon-button-column [markup]="{
    buttons: [
        {
            page: 'dashboard',
            text: 'Dashboard',
            icon: 'dashboard'
        },
        {
            page: 'terminal',
            text: 'Terminal',
            icon: 'chart'
        },
        {
            page: 'strategies',
            text: 'Strategies',
            icon: 'code'
        },
        {
            page: 'database',
            text: 'Data Collection',
            icon: 'db'
        },
        {
            page: 'wallets',
            text: 'Wallets',
            icon: 'wallet'
        }
    ]
}"></app-icon-button-column>