@import "variables";
@import "mixins";

:host {
    display: block;
    font-family: $font-sans;

    text-align: left;
    line-height: 2;

    box-sizing: border-box;

    .exchange {
        @include panel;
    }
}