<div class="tab-container dragging" [class.hidden]="!(draggingFileNode && dragConfirmed && cursor)"
[style.transform]="cursor ? 'translate(' + cursor.x + 'px, ' + cursor.y + 'px)' : ''">
    <div class="tab" *ngIf="draggingFileNode && dragConfirmed && cursor">
        <img class="icon" [src]="draggingFileNode.icon || 'assets/ui/file.svg'">
        <span class="text">{{ draggingFileNode.name }}</span>
    </div>
</div>

<ng-container *ngIf="strategies.activeFileNode; else noOpenFiles">
    <div class="tab-container" [class.no-close-button]="draggingFileNode && dragConfirmed">
        <div class="tab" *ngFor="let fileNode of strategies.openFilesRoot.files | orderBy:'tabOrder'"
        [class.active]="fileNode == strategies.activeFileNode"
        [class.drop]="draggingFileNode && cursor && draggingFileNode != fileNode"
        (mousedown)="onTabMouseDown(fileNode)"
        (mouseup)="onTabMouseUp(fileNode)">
            <img class="icon" [src]="fileNode.icon || 'assets/ui/file.svg'">
            <span class="text">{{ fileNode.name }}</span>
            <div class="info"
            (mousedown)="$event.preventDefault(); $event.stopPropagation();"
            (click)="onCloseTab(fileNode)">
                <img class="edited" *ngIf="fileNode.edited" src="assets/ui/edited.svg">
                <img class="close-tab" src="assets/ui/close-tab.svg">
            </div>
        </div>
        <div class="empty" [class.drop]="draggingFileNode && cursor && strategies.openFilesRoot.files.length > 0"
        (mouseup)="onMoveDraggedTabToEnd()"></div>
    </div>
    <ng-container *ngFor="let fileNode of strategies.openFilesRoot.files">
        <ngx-monaco-editor *ngIf="fileNode.content != null"
        [class.hidden]="fileNode?.editor?.hidden !== false"
        [class.active]="fileNode == strategies.activeFileNode"
        [options]="fileNode?.editor?.options"
        [(ngModel)]="fileNode.content"
        (ngModelChange)="onActiveFileNodeContentChanged()"
        (onInit)="onEditorInit(fileNode, $event)">
        </ngx-monaco-editor>
    </ng-container>
</ng-container>
<ng-template #noOpenFiles>
    <div class="no-open-files">
        <!-- No open files. -->
        <img class="bot" src="assets/ui/bot.svg">

        <div class="hotkey-container">
            <div class="hotkey-container-inner">
                <span class="action">Show Command Pallette</span>
                <div class="hotkey">
                    <span class="key">F1</span>
                </div>
                <span class="action">Enter / Exit Fullscreen</span>
                <div class="hotkey">
                    <span class="key">F11</span>
                </div>
                <span class="action">Toggle File Browser</span>
                <div class="hotkey">
                    <span class="key">Ctrl</span> + <span class="key">B</span>
                </div> 
                <span class="action">Toggle Terminal</span>
                <div class="hotkey">
                    <span class="key">Ctrl</span> + 
                    <span class="key">
                        <span class="down">`</span>
                        <span class="up">~</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</ng-template>