@import "variables";
@import "mixins";
@import "functions";

:host {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;

    crypto-chart {
        &:first-child {
            flex: 1;
        }

        &:not(:first-child) {
            height: 128px;
        }

        &:last-child {
            height: 128px + 31px;
        }

        & + crypto-chart {
            border-top: 2px solid black;
        }
    }
}