@import "variables";
@import "mixins";

:host {
    position: relative;
    display: block;
    height: $button-height;
    font-size: 0;
    white-space: nowrap;

    &.inline {
        display: inline-block;
        box-sizing: content-box;
    }

    .container {
        cursor: pointer;
        height: 100%;

        @include desktop {
            &:hover {
                background: $button-background-hover;
            }
        }
        
        .container-inner {
            display: inline-block;
            padding: 0 8px;
            box-sizing: border-box;
            
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            .text, .menu-arrow {
                font-size: $button-font-size;
                color: $color;
            }

            .menu-arrow {
                opacity: 0.5;
                margin-left: 8px;
            }
        }
    }
}